
<section class="about" id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 image">
                <img src="static/images/custom_insole.jpg" class="w-100 mb-0 mb-md-0" alt=""/>
            </div>

            <div class="col-md-6 content">
                <span>about us</span>
                <h3>We Make Custom Insoles</h3>
                <p>
                    FootBalance is a Nordic, health-driven company. We believe health and well-being begin with
                    your feet, and with our expertise and knowledge, we aim to keep you active, fit, and injury-free.
                    At FootBalance Nepal, we uniquely offer a personalized fit using advanced 3D foot scanning,
                    biomechanical analysis, and product recommendations, featuring our award-winning custom insoles.
                    Our custom insoles help to align your feet, support your arches, and balance your body. Our journey
                    into customized insoles began with significant support from FootBalance (Finland). Besides treating
                    foot problems, we also address posture-related issues and provide physiotherapy treatments.
                </p>
                <a href="#services" class="link-btn">Our Products</a>
            </div>
        </div>
    </div>
</section>