<section class="anatomy" id="anatomy">
    <div class="container">
        <div class="row align-items-center">


            <div class="col-md-6 content">
                <span>Anatomy</span>
                <h3>Internal Structures of our Insole</h3>
                <p>
                    🦶🏿Genuine leather
                </p>
                <p>
                    🦶🏿Comfortable high-quality shock absorption
                </p>
                <p>
                    🦶🏿Patented custom moulded Balance Plate for dynamic arch support
                </p>
                <p>
                    🦶🏿 High-strength bottom surface
                </p>
                <a href="{{url_for('insoles',insole_id=7)}}" class="link-btn">More</a>

            </div>

            <div class="col-md-6 image">
                <img src="static/images/insole_anatomy/anatomy.png" class="w-100 mb-0 mb-md-0" alt=""/>
            </div>


        </div>
    </div>
</section>