<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Confirmation</title>
</head>
<body>
    <div style="text-align: center;">
        <img src="cid:logo" alt="Hospital Logo" style="width: 200px;">
        <h1>Appointment Confirmation</h1>
        <p>Dear {{ name }},</p>
        <p>We are pleased to confirm your appointment for 3D foot scanning at Novel Wellness Center. Please find the details of your appointment below:</p>
        <p><strong>Date:</strong> {{ appointment_date }}</p>
        <p><strong>Time:</strong> {{ appointment_time }}</p>
        <p>We look forward to see you.</p>
        <p>Sincerely,</p>
        <p> Novel Wellness Center. 📍Khumaltar-14, Lalitpur <a href="https://maps.app.goo.gl/xCXtAtfZa2syMd918">Google Map</a></p>


    </div>
</body>
</html>
