<!-- footer section starts  -->

<section class="footer">
    <div class="box-container container">
        <div class="box">
            <i class="fas fa-phone"></i>

            <p>+9779807637578</p>
        </div>

        <div class="box">
            <i class="fas fa-map-marker-alt"></i>

            <p>Khumaltar-14, Lalitpur, Nepal</p>
        </div>

        <div class="box">
            <i class="fas fa-clock"></i>

            <p>10:00am to 06:00pm</p>
        </div>

        <div class="box">
            <i class="fas fa-envelope"></i>

            <p>novelwellness.nepal@gmail.com</p>
        </div>
    </div>

    <div class="SocialMediaIcons">
        <ul class="icons">
            <a href="https://www.facebook.com/profile.php?id=61556833412210" class="fa-brands fa-facebook"></a>
            <a href="https://www.instagram.com/footbalance.nepal/" class="fa-brands fa-instagram"></a>
            <a href="https://www.youtube.com/@FootBalanceNepal" class="fa-brands fa-youtube"></a>
        </ul>

    </div>
    <div class="credit">
        &copy;2024
        <?php echo date('Y'); ?>
        <span>FoootBalance Nepal</span> All Reserved Rights
    </div>
</section>


<!-- footer section ends -->