
<!--    google maps -->

<section class="google_map">

    <div class="container mt-4">
        <div class="row">
            <div class="col-12 col-md-4 d-flex flex-column justify-content-center">
                <h1><strong>Step up to a <span style="color:#00ae94">healthier</span> you</strong></h1>
                <p>Begin your journey towards better foot health by 3D scanning your feet at the Novel Wellness Center
                    Pvt.Ltd.</p>
                <img src="static/images/MyFB scanning.png">


            </div>
            <div class="col-12 col-md-8">
                <div class="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3534.1610363491004!2d85.31851037546534!3d27.650488976215204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb17c8bfdb6715%3A0x619066d2e1369094!2sNovel%20Wellness%20Centre%20Pvt%20Ltd(FootBalance%20Nepal)!5e0!3m2!1sen!2snp!4v1719238472317!5m2!1sen!2snp"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

        </div>
    </div>

</section>

<!--    google map end-->