<header class="header fixed-top">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <a href="#home" class="logo">
                <img height="40px" src="./static/images/FootB_logo.png">
                <p class="nepal">Nepal <img style="height:25px" src="static/images/Animated-Flag-Nepal.gif"></p>

            </a>

            <nav class="nav">
                <a href="#home">home</a>
                <a href="#about">about</a>
                <a href="#services">Insoles</a>
                <a href="#reviews">reviews</a>
                <a href="#contact">contact</a>
                <a href="{{ url_for('faqs') }}">FAQs</a>

            </nav>

            <a href="#contact" class="link-btn">make appointment</a>


            <div id="menu-btn" class="fas fa-bars"></div>
        </div>
    </div>
</header>