
<section class="services" id="services">
    <h1 class="heading">our Custom Insoles</h1>

    <div class="box-container container">

        <div class="card">
            <img class="card-img-top" src="static/images/insoles/impact.png">
            <h3>Impact</h3>
            <div class="card__content">
                <!--            <p class="card__title">Impact</p>-->
                <img class="second_img" src="static/images/insole_anatomy/impact_anatomy.png">

                <!--            <p class="card__description">-->
                <!--              FootBalance 100% Impact has been developed for people who participate in high-impact-->
                <!--              court sports. It is perfect for any sport that demands skilled footwork or sudden, explosive foot-->
                <!--              movements that place strain on the feet and ankles.-->
                <!--            </p>-->
                <a href="{{url_for('insoles',insole_id=1)}}" class="link-btn">Benefits</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="static/images/insoles/max.png">
            <h3>Max Insole</h3>
            <div class="card__content">
                <img class="second_img" src="static/images/insole_anatomy/max_anatomy.png">

                <!--            <p class="card__title">Max Insole</p>-->
                <!--            <p class="card__description">-->
                <!--              Offers greater support & cushioning-->
                <!--                for high impact activities. Features a stiffer core-->
                <!--                designed to give more support for heavier individuals-->
                <!--                and those with excessive overpronation.-->
                <!--            </p>-->
                <a href="{{url_for('insoles',insole_id=2)}}" class="link-btn">Benefits</a>

            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="static/images/insoles/Medical_Black.jpeg">
            <h3>Medical Black</h3>
            <div class="card__content">
                <img class="second_img" src="static/images/insole_anatomy/black_anatomy.png">

                <!--            <p class="card__title">Medical Black</p>-->
                <!--            <p class="card__description">-->
                <!--              Medical Black is a standard width Custom Orthotic that fits a wide range of feet. The leather-like surface material with its subtle colouring and non-slip topcoat makes it an excellent choice for both casual and sports footwear.-->
                <!--            </p>-->
                <a href="{{url_for('insoles',insole_id=3)}}" class="link-btn">Benefits</a>

            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="static/images/insoles/34insole.png">
            <h3>3/4 Insoles</h3>
            <div class="card__content">
                <img class="second_img" src="static/images/insole_anatomy/34insole_anatomy.png">
                <!--            <p class="card__title">3/4 Insoles</p>-->
                <!--            <p class="card__description">-->
                <!--              Specifically designed for women’s narrow and low volume shoes, the 3/4 insole is an-->
                <!--extra-narrow-width insole which delivers customised comfort for tight fitting casual (& formal)-->
                <!--footwear or footwear without removable insoles.-->
                <!--            </p>-->
                <a href="{{url_for('insoles',insole_id=4)}}" class="link-btn">Benefits</a>

            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="static/images/insoles/medical_green.JPE">
            <h3>Medical Green</h3>
            <div class="card__content">
                <img class="second_img" src="static/images/insole_anatomy/green_anatomy.png">

                <!--            <p class="card__title">Medical Green</p>-->
                <!--            <p class="card__description">-->
                <!--              FootBalance Medical Green soft features a redesigned balance plate that stabilises feet and-->
                <!--MEDICAL GREEN soft-->
                <!--distributes weight more evenly to reduce the concentration of pressure, particularly on the heel. The resilient fabric top layer helps prevent friction-->

                <!--            </p>-->
                <a href="{{url_for('insoles',insole_id=5)}}" class="link-btn">Benefits</a>

            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="static/images/insoles/kids.png">
            <h3>Kids Insole</h3>
            <div class="card__content">
                <p class="card__title">Kids Insole</p>
                <p class="card__description">
                    Medical Kids 100% Custom Orthotic is specially designed for children’s foot conditions, offering
                    gentle light support and medium cushioning
                    for the small feet.
                </p>
                <a href="{{url_for('insoles',insole_id=6)}}" class="link-btn">More</a>

            </div>
        </div>


        <!--        <div class="box">-->
        <!--          <img src="static/images/insoles/max.png" alt="" />-->
        <!--          <h3>Max</h3>-->

        <!--        </div>-->

        <!--        <div class="box">-->
        <!--          <img src="static/images/insoles/impact.png" alt="" />-->
        <!--          <h3>Impact</h3>-->
        <!--        </div>-->

        <!--        <div class="box">-->
        <!--          <img src="static/images/insoles/medical_green.JPE" alt="" />-->
        <!--          <h3>Medical Green</h3>-->
        <!--        </div>-->

        <!--        <div class="box">-->
        <!--          <img src="static/images/insoles/Medical_Gold.jpeg" alt="" />-->
        <!--          <h3>3/4 Insoles</h3>-->
        <!--        </div>-->

        <!--        <div class="box">-->
        <!--          <img src="static/images/insoles/kids.jpeg" alt="" />-->
        <!--          <h3>Kids Insoles</h3>-->
        <!--        </div>-->

        <!--        <div class="box">-->
        <!--          <img src="static/images/insoles/Medical_Black.jpeg" alt="" />-->
        <!--          <h3>Medical Black</h3>-->
        <!--        </div>-->
    </div>
</section>
