
<section class="marketing d-flex flex-column flex-md-row">
    <div class="p-0 m-3 d-flex flex-column col-12 col-md-8">
        <div class="order-2 order-md-1">

            <h4 style="color:#00ae94">Every foot is unique</h4>
            <h3>Know your foot</h3>
            <p>
                No two feet – not even your own – are the same. Like a fingerprint, every foot is unique, with its own
                distinct shape and contour.
                A vast majority, 75% of us, live with a foot imbalance. It affects our everyday lives by creating
                unnecessary pain and discomfort also
                in other parts of our bodies and not letting us enjoy the activities and sports we love the most. Here
                at <strong>FootBalance Nepal</strong>, we understand this diversity
                and provide custom insoles crafted specifically to fit your feet perfectly.

            </p>
        </div>
        <div class="d-flex justify-content-center order-1">
            <img class="img-fluid p-3 w-100" style="max-height: 80vh; object-fit: cover;"
                 src="static/images/fb_images/intersport18.png" alt="Foot Image">
        </div>
    </div>
    <div class="container-fluid p-0 m-3 d-flex flex-column col-12 col-md-4">
        <div>
            <img class="img-fluid w-100 custom-img" style="max-height: 600px; object-fit: cover;"
                 src="static/images/fb_images/MyFootBalance_Scanner_lighter-Outdoor.png" alt="Background Image">
        </div>
        <div class="container-fluid p-3">
            <h3>Introducing FIT Pro</h3>
            <p>We are pleased to introduce FIT Pro for the <strong style="color:#00ae94">First
                time in Nepal</strong> at Novel Wellness Center. It's a step-by-step guide to the unique FootBalance foot analysis &
                customised insole moulding process. Using FitPro 3D scanning service allows you to discover precisely
                what your feet require to improve the overall comfort of your body.
                 </p>
        </div>
    </div>
</section>
