<section class="process">
    <h1 class="heading">work process</h1>

    <div class="box-container container">
        <div class="card">
            <img class="card-img-top" src="static/images/process1.png">
            <h3>3D Foot Scanning</h3>
            <div class="card__content">
                <p class="card__title">3D Foot Scanning</p>

                <p class="card__description">
                    Our super-fast multi-scanning process uses advanced technology to capture the most accurate and
                    comprehensive set of foot measurements and data.

                </p>
            </div>
        </div><div class="card">
            <img class="card-img-top" src="static/images/process2.png">
            <h3>Select Foot type</h3>
            <div class="card__content">
                <p class="card__title">Impact</p>

                <p class="card__description">
                    Our super-fast multi-scanning process uses advanced technology to capture the most accurate and
                    comprehensive set of foot measurements and data.

                </p>
            </div>
        </div><div class="card">
            <img class="card-img-top" src="static/images/process3.png">
            <h3>Custom product recommendations</h3>
            <div class="card__content">
                <p class="card__title">Impact</p>

                <p class="card__description">
                    Our super-fast multi-scanning process uses advanced technology to capture the most accurate and
                    comprehensive set of foot measurements and data.

                </p>
            </div>
        </div>
        <!--        <div class="box">-->
        <!--          <img src="static/images/process1.png" alt="" />-->
        <!--          <h3>3D Foot Scanning</h3>-->
        <!--          <p>-->
        <!--            Our super-fast multi-scanning process uses advanced technology to capture the most accurate and comprehensive set of foot measurements and data.-->
        <!--          </p>-->
        <!--        </div>-->

        <!--        <div class="box">-->
        <!--          <img src="static/images/process2.png" alt="" />-->
        <!--          <h3>Custom product recommendations</h3>-->
        <!--          <p>-->
        <!--            MyFootBalance recommends footwear, custom insoles, socks and injury prevention products - all personalised to ensure the best fit.-->
        <!--          </p>-->
        <!--        </div>-->

        <!--        <div class="box">-->
        <!--          <img src="static/images/fb_images/Low & high arches.png" alt="" />-->
        <!--          <h3>Select Foot type</h3>-->
        <!--          <p>-->
        <!--            Dental implants are artificial tooth roots that are surgically-->
        <!--            placed into the jawbone.-->
        <!--          </p>-->
        <!--        </div>-->
    </div>
</section>