
<section class="reviews" id="reviews">
    <h1 class="heading">Our Clients</h1>

    <div class="box-container container">
        <div class="box">
            <img src="static/images/review_person/IMG_5322.jpg" alt=""/>
            <p>
                I couldn’t believe that it was so afordable compared to the
                alternatives available in the market.
            </p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <h3>Harris raj</h3>
            <span>Manager,Evo Store</span>
        </div>


        <div class="box">
            <img src="static/images/review_person/IMG_5326.jpg" alt=""/>
            <p>
                Earlier I used to hide my smile and now I can’t stop smiling.
                Flexalign aligners changed my life &amp; smile completely.
            </p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <h3>Ram Chandar</h3>
            <span>Assistant Manager,TCS</span>
        </div>

        <div class="box">
            <img src="static/images/review_person/IMG_5324.jpg" alt=""/>
            <p>
                Great experience with DentalClinic aligners. I would recommend this
                place for they have the best quality service
            </p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <h3>Prashanna Raj</h3>
            <span>CEO,IBM</span>
        </div>
    </div>
</section>