
<section class="reviews" id="reviews">
    <h1 class="heading">Our Clients</h1>

    <div class="box-container container">
        <div class="box">
            <img src="static/images/review_person/prashanna.png" alt="prashanna Raj Pandit"/>
            <p>
                I never realized how much foot alignment affected my posture and daily comfort. After my 3D foot scan and custom insole fitting at FootBalance Nepal, I noticed a huge improvement in my lower back pain. Highly recommended!
            </p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <h3>Prashanna Raj Pandit</h3>
            <span>Fitness Coach, Kathmandu</span>
        </div>


        <div class="box">
            <img src="static/images/review_person/img_1.png" alt="Kajal Jha"/>
            <p>
                The personalized foot analysis was quick, insightful, and surprisingly affordable. The team explained everything clearly, and the custom insoles made a noticeable difference in my running performance
            </p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h3>Kajal Jha</h3>
            <span>Kirtipur</span>
        </div>

        <div class="box">
            <img src="static/images/review_person/img_2.png" alt="Ram Parikshan Pandit"/>
            <p>
                I spend long hours standing at work, and I used to suffer from foot fatigue daily. Since switching to FootBalance custom insoles, my feet feel supported all day. Truly a game-changer!
            </p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <h3>Ram Parikshan</h3>
            <span>Malangwa, Sarlahi</span>
        </div>
    </div>
</section>