<link rel="stylesheet" href="static/assets/css/youtube.css">
<section class="youtube_video">
    <h1 class="heading">So How do we do that?</h1>
    <h3 style="text-align:center;color:#00ae94">Let's watch a video</h3>
    <div class="container mt-4">
        <div class="video-container" id="video-container">
            <div class="video-facade" id="video-facade">
                <img src="https://img.youtube.com/vi/gE26SQOiskU/hqdefault.jpg" alt="Video Thumbnail" class="video-thumbnail">
                <div class="play-button"></div>
            </div>
        </div>
    </div>
</section>
